name: ci/cd pipeline to deploy to tomcat
on:
 push:
   branches: master
jobs:
 build-deploy:
  runs-on: ubuntu-latest
  steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: set-up jdk
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'  
      - name: maven validate
        run: mvn validate 
      - name: maven compile
        run: mvn compile
      - name: maven test
        run: mvn test
      - name: maven package
        run: mvn package
      - name: varify war file
        run: ls -lh target/
         # Deploy to Tomcat
      - name: deploy war to tomcat
        run: | 
                curl -v -u ${{ secrets.TOMCAT_USER }}:${{ secrets.TOMCAT_PASSWORD }} \
                  -T target/TrainBook-1.0.0-SNAPSHOT.war \
                  "http://${{ secrets.TOMCAT_HOST }}:8080/manager/text/deploy?path=/TrainBook&update=true"

        
      
 
