name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn clean package -DskipTests

    - name: SonarQube Scan
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: http://54.82.193.130:9000  # Your IP
      run: |
        mvn sonar:sonar -Dsonar.projectKey=train-ticket-reservation -Dsonar.host.url=$$ {{ env.SONAR_HOST_URL }} -Dsonar.login= $${{ env.SONAR_TOKEN }}

    - name: Publish to Nexus
      env:
        NEXUS_USERNAME: admin
        NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
      run: |
        mvn deploy -s settings.xml  # Assumes settings.xml with creds; or use -DaltDeploymentRepository

    - name: Deploy to Tomcat
      uses: appleboy/scp-action@v0.1.4
      with:
        host: 54.82.193.130  # Your IP
        username: ubuntu
        key: ${{ secrets.AWS_SSH_KEY }}
        source: "target/*.war"
        target: "/home/ubuntu/tomcat_webapps/"
        strip_components: 1
